    <table>
        <thead>
            <tr>
                <th>Indicator</th>
                <th>Black Oxygenium</th>
                <th>Cute Ganymede</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Total number of entries</td>
                <td>{{.BlackOxygeniumValue}}</td>
                <td>{{.CuteGanymedeValue}}</td>
            </tr>
            <tr>
                <td>Number of unique IP addresses</td>
                <td>{{.UniqueIPAddresses}}</td>
                <td>{{.UniqueIPAddresses}}</td>
            </tr>
            <tr>
                <td>Average response time (ms)</td>
                <td>{{.AverageResponseTime}}</td>
                <td>{{.AverageResponseTime}}</td>
            </tr>
        </tbody>
    </table>